<launch>

  <rosparam command="load" file="$(find dsvo_dso)/tests/cams/aqua/T_stereo.yaml" ns="dsvo"/>

  <node name="dsvo" pkg="dsvo_dso" type="dsvo_node" output="screen">
    <param name="cam0_topic" value="/camera_front_left/image_raw" />
    <param name="cam1_topic" value="/camera_front_right/image_raw" />
    <param name="calib0" value="$(find dsvo_dso)/tests/cams/aqua/camera0.txt" />
    <param name="calib1" value="$(find dsvo_dso)/tests/cams/aqua/camera1.txt" />
    <param name="init_scale" value="2" />
    <param name="mode" value="1" />
    <param name="preset" value="0" />
    <param name="scale_accept_th" value="15" />
  </node>

  </launch>
