<launch>

  <rosparam command="load" file="$(find dsvo_dso)/tests/cams/kitti/03/T_stereo.yaml" ns="dsvo"/>

  <node name="dsvo" pkg="dsvo_dso" type="dsvo_node" output="screen">
    <param name="cam0_topic" value="/camera/left/image_raw" />
    <param name="cam1_topic" value="/camera/right/image_raw" />
    <param name="calib0" value="$(find dsvo_dso)/tests/cams/kitti/03/camera0.txt" />
    <param name="calib1" value="$(find dsvo_dso)/tests/cams/kitti/03/camera1.txt" />
    <param name="init_scale" value="20.0" />
    <param name="mode" value="1" />
    <param name="preset" value="0" />
  </node>

  </launch>
